* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
}

.sidebar {
    width: 250px;
    background: #333;
    padding-top: 20px;
    position: fixed;
    height: 100%;
    transition: 0.3s;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: 0.3s;
}

.sidebar ul li:hover {
    background: rgba(255, 255, 255, 0.1);
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar ul li a i {
    margin-right: 10px;
}

.container {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
    height: 100%;
    overflow-y: auto; 
}

        h2 {
            text-align: center;
            color: #ff5722;
        }

        input,
        select,
        button {
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        button {
            background-color: #ff5722;
            color: white;
            border: none;
            cursor: pointer;
        }

        button:hover {
            background-color: #e64a19;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th,
        td {
            padding: 10px;
            border: 1px solid #ddd;
            text-align: center;
            color: #020000;

        }

        img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 5px;
        }